<section class="container-fluid">
    <section class="row">
        <div class="col">
            <h1 class="jumbotron">Dynamic Form Component</h1>
        </div>
    </section>
</section>

<section class="container">
    <section class="row">
        <div class="col">
            <div class="lead border border-light p-3">
                <div class="lead border p-3">
                    {{f['address'].get('city')}}
                </div>
                <form action="" [formGroup]="registrationForm">
                    <div class="form-group my-3 fs-3">
                        <label for="userName">User Name: </label>
                        <input type="text" class="form-control fs-3 w-50 border border-dark" id="userName" name="userName" formControlName="userName" />                        
                        <div class="alert alert-danger" *ngIf="f['userName'].touched && 
                        f['userName'].invalid">
                            <div *ngIf="f['userName'].errors 
                            && f['userName'].errors['required']">User Name is Required</div>
                            <div *ngIf="f['userName'].errors 
                            && f['userName'].errors['minlength']">User Name should be more than 5 characters</div>
                        </div>
                    </div>
                    <div class="form-group my-3 fs-3">
                        <label for="password">Password: </label>
                        <input type="password" class="form-control fs-3 w-50 border border-dark" id="password" name="password" formControlName="password"/>
                        <div class="alert alert-danger" *ngIf="f['password'].touched && 
                        f['password'].invalid">
                            <div *ngIf="f['password'].errors 
                            && f['password'].errors['required']">Password is Required</div>
                        </div>
                    </div>
                    <div class="form-group my-3 fs-3">
                        <label for="confPassword">Confirm Password: </label>
                        <input type="password" class="form-control fs-3 w-50 border border-dark" id="confPassword" name="confPassword" formControlName="confirmPassword"/>
                        <div class="alert alert-danger" *ngIf="f['confirmPassword'].touched && 
                        f['confirmPassword'].invalid">
                            <div *ngIf="f['confirmPassword'].errors 
                            && f['confirmPassword'].errors['required']">Confirm Password is Required</div>
                        </div>
                    </div>

                    <div id="address" formGroupName="address">                        
                        <div class="form-group my-3 fs-3">
                            <label for="city">City: </label>
                            <input type="text" class="form-control fs-3 w-50 border border-dark" id="city" 
                            name="city" formControlName="city">                            
                            <!-- <input type="text" class="form-control fs-3 w-50 border border-dark" id="city" 
                            name="city" formControlName="city" [ngClass]="{error: submitted && f['address']['controls'].city.errors}">                            
                            <div class="alert alert-danger">
                                <div *ngIf="submitted && f['address']['controls'].city.errors?.required">City is Required</div>
                            </div>-->
                        </div>
                        <div class="form-group my-3 fs-3">
                            <label for="state">State: </label>
                            <input type="text" class="form-control fs-3 w-50 border border-dark" id="state" name="state" formControlName="state">
                           <!-- <div class="alert alert-danger" *ngIf="f['state'].touched && 
                        f['state'].invalid">
                            <div *ngIf="f['state'].errors 
                            && f['state'].errors['required']">State is Required</div>
                        </div>-->
                        </div>
                        <div class="form-group my-3 fs-3">
                            <label for="postalCode">Postal Code: </label>
                            <input type="text" class="form-control fs-3 w-50 border border-dark" id="postalCode" name="postalCode" formControlName="postalCode">
                            <!-- <div class="alert alert-danger" *ngIf="f['postalCode'].touched && 
                        f['postalCode'].invalid">
                            <div *ngIf="f['postalCode'].errors 
                            && f['postalCode'].errors['required']">Postal Code is Required</div>
                        </div>-->
                        </div>
                        <div class="button-group my-3 fs-3 py-4">                            
                            <button type="submit" class="btn btn-outline-primary fs-3">Submit</button>
                            <button type="submit" class="btn btn-outline-secondary fs-3 mx-3" (click)="loadApiData();">Load API Data</button>
                            <button type="reset" class="btn btn-outline-danger fs-3">Reset</button>
                        </div>
                    </div>
                </form>
                <div class="lead border p-3 border-warning">
                    <p class="fs-3">{{registrationForm.value | json}}</p>
                </div>                
            </div>
        </div>
    </section>
</section>