<section class="container">
    <section class="row">
        <section class="col">
            <h1 class="jumbotron">Custom Directive Component</h1>
        </section>
    </section>
</section>

<section class="container">
    <section class="row">
        <section class="col">
            <h1 class="jumbotron" ngCustom [foreColor]="'white'" [bgColor]="'red'">Custom Directive 
                Constructor Loaded</h1>
        </section>
    </section>
</section>

<section class="container">
    <section class="row">
        <section class="col">
            <h1 class="jumbotron" ngCustom [foreColor]="'white'" [bgColor]="'red'">Custom Directive 
                Constructor Loaded</h1>
        </section>
    </section>
</section>