<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">        
      <a href="#" class="navbar-brand text-white"><b>ANGULAR</b></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">          
        <li class="nav-item" [routerLink]="['/ref']">
          <a class="nav-link text-white">Template Reference</a>
        </li>
        <li class="nav-item" [routerLink]="['/twb']">
          <a class="nav-link text-white">Two Way Binding</a>
        </li>                  
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>