<section class="container">
    <section class="row">
        <section class="col">
            <h1 class="jumbotron">Class Component Page</h1>
        </section>
    </section>
</section>

<section class="container">
    <section class="row">
        <section class="col">
            <div class="border lead p-3">
                <div class="p-2 my-2">
                    <p class="firstExample">Class Component first example</p>
                    <p [ngClass]="'firstExample'">Class Component ngClass directive example</p>
                    <p [ngClass]="'firstExample firstFont'">Class Component ngClass directive example</p>
                </div>                
                <div class="p-2 my-2">
                    <p [class]="'secondExample'">Class Component second example</p>
                </div>
                <div class="p-2 my-2">
                    <p [class]="third">Class Component third example</p>
                </div>
                <div class="p-2 my-2">
                    <p [class]="hasError ? 'fourthExample' : 'secondExample'">Class Component has error example</p>
                </div>
                <button type="button" class="btn btn-outline-primary" (click)="toggleError();">Toggle Error Style</button>
                <div class="p-2 my-2">
                    <p [ngClass]="addClass">Class Component fourth example</p>
                </div>                
            </div>
        </section>
    </section>
</section>